<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here --><![CDATA[
    ]]><bean id="alien" class="org.example.Alien" scope="prototype">
<!--    <property name="age" value="21">-->
<!--    </property>-->
    <constructor-arg value="21" index="0" name="age"></constructor-arg>

    <property name="lap" ref="Laptop"></property>
</bean>
    <bean id="Laptop" class="org.example.Laptop" scope="prototype">
    </bean>
</beans>
